<!-- Header -->
<div class="flex justify-between items-center p-4 bg-gray-800">
  <div class="flex space-x-6">
    <a href="/" class="text-white">Home</a>
    <a href="/shop" class="text-white">Shop</a>
    <a href="/cart" class="text-white">Cart</a>
    <!-- My Account link -->
    <a href="/myaccount" class="text-white">My Account</a>
  </div>
  <div class="flex space-x-4">
    <a href="/" class="text-white">Login</a>
    <a href="/users/logout" class="text-white">Logout</a>
  </div>
</div>
